<h3>Criar Usuário</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label >Nome</label>
            <input type="text" class="form-control" id="userName" required (ngModel)="user.userName" name="userName">
        </div>

        <div class="form-group">
            <label >CPF</label>
            <input type="text" class="form-control" id="cpf" required (ngModel)="user.cpf" name="cpf">
        </div>

        <div class="form-group">
            <label >Função</label>
            <input type="text" class="form-control" id="function" required (ngModel)="user.function" name="function">
        </div>
        <div class="form-group">
            <label >Email</label>
            <input type="text" class="form-control" id="email" required (ngModel)="user.email" name="email">
        </div>
        <div class="form-group">
            <label >Situação</label>
            <input type="text" class="form-control" id="situation" required (ngModel)="user.situation" name="situation">
        </div>
        <div class="form-group">
            <label >Perfil Acesso</label>
            <input type="text" class="form-control" id="accessProfile" required (ngModel)="user.accessProfile" name="accessProfile">
        </div>
        <div class="form-group">
            <label >Telefone</label>
            <input type="text" class="form-control" id="phone" required (ngModel)="user.phone" name="phone">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Salvo com Sucesso!</h4>
</div>